.links {
  display: flex;
}

.link {
  margin-left: 10px;
  margin-right: 10px;
}

.body {
  padding: 20px;
}

.headerBar {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding-bottom: 5px;
  border-bottom: solid 2px #f4976c;
  margin-left: 0.5em;
  padding-left: 0.5em;

  margin-right: 0.5em;
  padding-right: 0.5em;

  .title {
    font-weight: bold;
    color: #777;

    padding-right: 1em;
  }
}
