.card {
  display: inline-block;
  background-color: #fff;
  border: 1px solid darken(#b4dfe5, 10%);
  border-radius: 3px;
  // box-shadow: 2px 2px 1px darken(lightgrey, 10%);
  box-shadow: 3px 3px 4px darken(#b4dfe5, 5%);
  // b4dfe5
  margin: 5px;
  padding: 5px;

  &.inset {
    padding: 0;
  }

  .title {
    font-size: 18px;

    padding: 3px 3px;
    padding-bottom: 0px;
    color: #666;

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 25px;

    &.bordered {
      border-bottom: solid 1px lightgray;
      margin-bottom: 6px;
    }
  }
}
