.home {
  text-align: left;
}

.homeHeader {
  background-color: white;
  padding: 0px;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
  margin-block-start: 0;
  margin-block-end: 0;
}
